name: Keep Render Awake

on:
  schedule:
    - cron: '*/14 * * * *' # Run every 14 minutes
  workflow_dispatch: # Allow manual trigger

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render URL
        run: curl -s https://vn-bot-charateres.onrender.com > /dev/null
